<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ametice.noticenotice" >

    <!-- メール送信用にインターネット接続設定 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- アカウント情報を取得するため必要 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 初期画面 -->
        <activity
            android:name=".activity.InitSettingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 送信間隔設定 -->
        <activity
            android:name=".activity.SendSettingActivity"
            android:label="@string/title_send_setting" >
            <!-- Google Play Serviceを利用するため必要 -->
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity>

        <!-- 送信先設定 -->
        <activity
            android:name=".activity.InputAddressActivity"
            android:label="@string/app_name" >

        </activity>

        <!-- メッセージ画面 -->
        <activity
            android:name=".activity.MessageActivity"
            android:label="message_activity">

        </activity>

        <!-- パスコード入力画面 -->
        <activity
            android:name=".activity.InputPassCodeActivity"
            android:label="@string/app_name">

        </activity>

        <!-- 使い方画面 -->
        <activity android:name=".activity.UsageActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <service
            android:name=".service.MonitorService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".service.NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
