body {
    background-color: lightblue;
}

h1 {
    color: blue;
}

h2 {
    color: tomato;
}

p {
    font-size: large;
}

img.full-width {
    width: 100%;
}

img.half-width {
    width: 50%;
}

img.one-third {
    width: 33%;
}

img.quarter {
    width: 25%;
}
